<div class="profile-wraper">
  <div class="row first-row-background">
     <div class="col-auto offset-3 mt-5">
        <img src="/assets/img/joystick.png" class="d-block round-avatar" alt="...">
     </div>
     <div class="col-auto ml-5 mt-5">
         <h5>Κων/νος Φουλιδης</h5>
     </div>
  </div>
  <div class="row">
     <div class="col-6 post-bg-color">
      <app-posts></app-posts>
     </div>
     <div class="col-6">
      <app-doughnut-chart></app-doughnut-chart>
     </div>
     
  </div>
  <div class="position-absolute info-card">
    <div class="row">
      <h5 class="info-items">followers:100k</h5>
    </div>
     <div class="row">
        <h5 class="info-items">likes:100k+</h5>
     </div>
     <div class="row">
      <h5 class="info-items">Posts:100k</h5>
     </div>
</div>
</div>