<app-navbar></app-navbar>
<app-carousel></app-carousel>
<app-cardcontainer></app-cardcontainer>

<div class="position-relative">
    <img class="d-block w-100 position-absolute fadein elementToFadeInAndOut" src="/assets/img/ippodromos.jpg" alt="Galeeriano">
    <img class="d-block w-100  " src="/assets/img/galeriano.jpg" alt="Galeeriano">
    
       
        <div class="dashWrapper text-center">
            
            <img class="img-width mb-3" src="/assets/img/HOME_LOGO.png" alt="Galeeriano">
            <!-- <div class="row justify-content-center">
            <img class="img-width mt-2" src="/assets/img/thireos_blue.png" alt="Galeeriano">
            </div>
            <img class="img-width-1 mt-2" src="/assets/img/e-skapani.png" alt="Galeeriano"> -->

       
           <div class="start_gamewrapper">
            <h1  (click)="btnClick();">{{'start_game' | translate}}</h1>
          </div>
       
        </div>
      
       
</div>
<app-footer></app-footer>

    

