/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

 /* Add this to your global stylesheet after your theme setup */
.myapp-no-padding-dialog .mat-dialog-container {   
    position: absolute;
    right: 0px;
    /* top: 80px; */
    top: 0px;
    height: 100% !important;
    width: 45% !important ;
    overflow: hidden;
}

.myapp-no-padding-dialog .mat-dialog-content{
    overflow: auto;
}
.myapp-no-padding-dialog .cdk-overlay-dark-backdrop {
    background: none; 
}

.imageViewer .mat-dialog-container{
    position: absolute;
    left: 0px;
    /* top: 80px; */
    top: 0px;
    height: 100% !important;
    width: 55% !important ;
    overflow: hidden;
}

.image-dialog-presentation .mat-dialog-container{
    width: 80vw;
    height: 80vh;
    position: fixed;
    left: 10vw;
    top: 10vh;
    }
  .image-dialog-presentation .cdk-overlay-dark-backdrop{
    background: black;
  }  
   